{% extends 'base.html' %}


{% block content %}

<style>
    #floatingarea3{
        width: 100%;
    }
</style>

<section class="section-content padding-y">

    <!-- ============================ COMPONENT REGISTER   ================================= -->
        <div class="card mx-auto" style="max-width:520px; margin-top:40px;">
          <article class="card-body">
            <header class="mb-4"><h4 class="card-title">Actualizar Informacion</h4></header>
            <form method="post">
                {% csrf_token %}
                    <div class="form-row">
                        <div class="col form-group">
                            <label>Nombre de vendedor</label>
                            {% csrf_token %}
                            {{ form.nombre_vendedor }}
                        </div> <!-- form-group end.// -->
                    </div> <!-- form-row end.// -->
                    <div class="form-group">
                        <label>Descripcion</label>
                        {% csrf_token %}
                        {{ form.descripcion_venta }}
                        <small class="form-text text-muted">Describite como quieres que te vean los demas</small>
                    </div> <!-- form-group end.// -->
                    <div class="form-row">
                        <div class="col form-group">
                          <label>Biografia</label>
                          {% csrf_token %}
                          {{ form.biografia_venta }}
                        </div> <!-- form-group end.// -->
                    </div> <!-- form-row.// -->
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block">Actualizar</button>
                    </div> <!-- form-group// -->      
                        
                </form>
            </article><!-- card-body.// -->
        </div> <!-- card .// -->
    <!-- ============================ COMPONENT REGISTER  END.// ================================= -->
    
    
    </section>

{% endblock %}