{% extends 'base.html' %}

{% block content %}

{% load static %}

<style>
  #container_perfil{
    width: 90%;
    margin-left: 10%;
    margin-right: 10%;
  }
  #container_perfil{
    justify-content: space-between;
  }
  #photo_perfil{
    border: solid 3px #0D6EFD;
    margin-left: 100px;
    margin-top: 20px;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    overflow: hidden;
    
  }
  .section-content{
    width: 60%;
    margin-left: 10%;
    margin-right: 10%;
  }

</style>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

<!-- Hero Section -->
<header id="container_perfil" class="row">
  <div class="col-md-3">
    <img  id="photo_perfil" src="{{ user.profile.image.url }}" />
  </div>

  <div class="col-md-8 my-auto p-4">
    <h1>Yo soy <strong>{{ perfil_vendedor }}</strong></h1>
    <h3>{{ perfil_vendedor.descripcion_venta }}</h3>
    <p>{{ perfil_vendedor.biografia_venta }}</p>
    <a class="btn btn-primary btn-lg rounded-0 my-3" href="{% url 'editar_perfil' %}">Editar mi perfil</a>  
  </div>
</header>

<!-- Porfolio Section -->
<div class="row my-4 text-center">

  <h3>Mis Productos</h3>
  <p>Estos son todos los productos que tienes disponibles</p>
</div>

<section class="section-content padding-y">

  <div class="row">
    {% for product in posts %}
        <div class="col-md-4">
            <figure class="card card-product-grid">
                <div class="img-wrap"> 
                    
                    <img src="{{ product.product_image.url }}">
                    
                </div> <!-- img-wrap.// -->
                <figcaption class="info-wrap">
                    <div class="fix-height">
                        <a href="{{ product.get_url }}" class="title">{{ product.nombre_producto }}</a>
                        <div class="price-wrap mt-2">
                            <span class="price">{{ product.precio }}</span>
                        </div> <!-- price-wrap.// -->
                    </div>
                    {% if username == request.username %}
                      <a href="#" class="btn btn-block btn-primary">Editar publicacion</a>
                    {% else %} 
                      <a href="#" class="btn btn-block btn-primary">Comprar ahora</a> 
                    {% endif %}
                </figcaption>
            </figure>
        </div>
    {% endfor %}
  </div>

</section>



{% endblock %}
