{% extends 'base.html' %}

{% load static %}


{% block content %}

    
<section class="section-content padding-y bg">
    <div class="container">
    
    <!-- ============================ COMPONENT 1 ================================= -->

    <div class="row">
        <aside class="col-lg-9">
    <div class="card">

        
        </aside> <!-- col.// -->
        <aside class="col-lg-6">
    
            <div class="card">
            <div class="card-body">
                <dl class="dlist-align">
                  <dt>Total a pagar:</dt>
                  <dd class="text-right">$ </dd>
                </dl>
                <dl class="dlist-align">
                  <dt>Impuesto: </dt>
                  <dd class="text-right">$ </dd>
                </dl>
                <dl class="dlist-align">
                  <dt>Total:</dt>
                  <dd class="text-right text-dark b"><strong>$ </strong></dd>
                </dl>
                <hr>
                <p class="text-center mb-3">
                    <img src="{% static './images/misc/payments.png' %}" height="26">
                </p>
                <a href="./place-order.html" class="btn btn-primary btn-block"> Checkout </a>
                <a href="{% url 'store' %}" class="btn btn-light btn-block">Continuar comprando</a>
            </div> <!-- card-body.// -->
            </div> <!-- card.// -->
    
    </aside> <!-- col.// -->
    
    
    </div> <!-- row.// -->

    </div> <!-- container .//  -->
    </section>

{% endblock %}