{% extends 'base.html' %}

{% load static %}


{% block content %}

    
<section class="section-content padding-y bg">
  <div class="container">
    <div class="row">
      <aside class="col-lg-9">
      <div class="card">
        <div class="card-body">

          <h4 class="card-title mb-4">Informacion Personal</h4>
          <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-row">
              <div class="col form-group">
                <label for="">Nombre</label>
                {{ form.first_name }}
              </div>
              <div class="col form-group">
                <label for="">Apellido</label>
                {{ form.last_name }}
              </div>
            </div>
            <div class="form-row">
              <div class="col form-group">
                <label for="">Email</label>
                  {{ form.email }}
              </div>
              <div class="col form-group">
                <label for="">Numero de Telefono</label>
                {{ form.telefono }}
              </div>
            </div>
            <div class="form-row">
              <div class="col form-group">
                <label for="">Direccion</label>
                {{ form.direccion }}
              </div>
            </div>
            <div class="form-row">
              <div class="col form-group">
                <label for="">Ciudad</label>
                {{ form.ciudad }}
              </div>
              <div class="col form-group">
                <label for="">Departamento</label>
                {{ form.departamento }}
              </div>
              <div class="col form-group">
                <label for="">Pais</label>
                {{ form.pais }}
              </div>
            </div>
            <div class="form-row">
              <div class="col form-group" >
                <label for="">Observaciones</label>
                {{ form.comentario }}
              </div>
            </div>
            <button class="btn-primary btn-block" type="submit" style="padding: 8px; border: none; border-radius: 8px;">Guardar Informacion</button>
          </form>

        </div>
      </div>
      </aside>
    </div>
  </div>  
  <div class="container">
    
    <!-- ============================ COMPONENT 1 ================================= -->
    <div class="row">
        <aside class="col-lg-9">
        
          
        <div class="card">

        <table class="table table-borderless table-shopping-cart">
        <thead class="text-muted">
        <tr class="small text-uppercase">
          <th scope="col">Producto</th>
          <th scope="col" width="120">Cantidad</th>
          <th scope="col" width="120">Precio</th>
          <th scope="col" class="text-right" width="200"> </th>
        </tr>
        </thead>
        <tbody>
    
    {% for cart_item in cart_items %}
        <tr>
            <td>
                <figure class="itemside align-items-center">
                    <div class="aside"><img src="{{ cart_item.producto.product_image.url }}" class="img-sm"></div>
                    <figcaption class="info">
                        <a href="{{ cart_item.producto.get_url }}" class="title text-dark">{{ cart_item.producto.nombre_producto }}</a>
                    </figcaption>
                </figure>
            </td>
            <td> 
                <div class="price-wrap"> 
                    <var class="price">$ {{ cart_item.sub_total }}</var> 
                    <small class="text-muted">$ {{ cart_item.producto.precio }} </small> 
                </div> <!-- price-wrap .// -->
            </td>
        </tr>
    
    {% endfor %}
        
        </tbody>
        </table>
        </div> <!-- card.// -->
    <div class="card">
      
        
        </aside> <!-- col.// -->
        <aside class="col-lg-9">
    
            <div class="card">
            <div  class="card-body">
                <a href="{% url 'store' %}" class="btn btn-light btn-block">Continuar comprando</a>
            </div> <!-- card-body.// -->
            </div> <!-- card.// -->
    
    </aside> <!-- col.// -->
    
    
    </div> <!-- row.// -->

    </div> <!-- container .//  -->
    </section>

{% endblock %}