{% extends 'layout.html' %}
{% load humanize %}
{% load static %}
{% block content %}

    <style>
        .form-control{
            width: 100%;
            height: 35px;
            margin-top: 20px;
            margin-bottom: 20px;
        }
        body.dark-mode .form-control{
            background: #1a1a33;
            color: #fff;
        }
        body.dark-mode .form-control > input{
            color: #fff;
        }


    </style>

    {% if request.user.is_authenticated %}
    <!---------------------------historias de inicio------------>
        <div class="stories" >
            {% for story in stories|slice:":5" %}
            <div class="story" style="background-image: url('{{ story.image.url }}')">
                <div class="profile-photo2">
                    <div class="profile-photo">
                        <img src="{{ story.user.profile.image.url }}">

                    </div>
    
                </div>
                <p class="name">{{ story.user.username }} - {{ story.created_at|naturaltime }}</p>

            </div>
            {% endfor %}


        </div>
        <!--------------------------fin de historias-->

        <div class="create-post">
            <form method="POST" enctype="multipart/form-data" action="{% url 'feed' %}">

                {% csrf_token %}
                {{ form.content}}
                <button class="btn btn-primary" type="submit" class="submit">
                    Post
                </button>
            </form>
        </div>

        {% for post in posts %}
        <!-------------------------------------------------publicaciones------------------->
        <div class="feeds">
        <!-----------------------------------------------------publicacion 1---------->
            <div class="feed">
                <div class="head">
                    <div class="user">
                        <div class="profile-photo">
                            <img src="{{ post.user.profile.image.url }}">

                        </div>
                        <div class="ingo">
                            <h3><a href="">{{post.user.username}}</a></h3>
                            <small>{{post.time|naturaltime}}</small>
                            <div class="post">{{post.content}}</div>
                            <div class="post">{{crear_post.content}}</div>
                        </div>
                    
                    </div>
                    {% if request.user == post.user %}
                    <span class="edit">
                        <a href="{% url 'delete' post.id %}"><i class='bx bx-x'></i></a>
                        
                    </span>
                    {% endif %}

                </div>

                <div class="photo">
                    {% if post.image.url != null %}
                        <img id="imagen_post" src="{{ post.image.url}}" >
                    {% endif %}
                </div>
                <div class="action-buttons">
                    <div class="interaction-buttons">
                        
                        <span><a href="{% url 'likes' post.id %}"><i class='bx bx-heart' style='color:#6440f2' ></i></a></span>
                            
                        <span><a href="{% url 'comentarios:post_detail' post.id %}"><i class='bx bx-message-rounded-dots'></i></a></span>
                        
                    </div>

                </div>
                <div class="liked-by">
                <p>Le gusta a <b>{{ post.likes }} personas mas</b></p>
                </div>

            </div>
            <!----------------------fin de feed--------------->
    
            <!----------------------fin de feed--------------->


        {% endfor %}


    {% endif %}



{% endblock %}