{% extends 'layout.html' %}
{% load humanize %}

{% block content %}

<section class="perfil-usuario">
	<div class="contenedor-perfil">
		<div class="portada-perfil">
			<img src="{{ user.profile.imagen_fondo.url }}" id="img">
			<div class="sombra"></div>

			<div class="avatar-perfil">
				<img src="{{ user.profile.image.url }}" id="img">
				
			   
				<div class="avatar-perfil2">
					
					
					
				</div>
			</div>

			<div class="datos-perfil">
				<h4 class="titulo-usuario" style="font-size: 20px; margin-left: 20px;">@{{ user.username }}</h4>
				<ul class="lista-perfil">
					<li><p>Seguidores {{ user.profile.followers.count }}</p></li>
					<li><p>Seguidos {{ user.profile.following.count }}</p></li>
					<li><p>publicaciones {{ user.posts.count }}</p></li>
				</ul>
			</div>
			<div class="opcciones-perfil">
				{% if request.user.is_authenticated %}
						{% if user.username != request.user.username %}
							{% if user not in request.user.profile.following %}
							<button><a class="follow-button" href="{% url 'follow' user %}">Follow</a></button>
							{% else %}
							<button><a class="follow-button" href="{% url 'unfollow' user %}">Unollow</a></button>
							{% endif %}
						{% endif %}
				{% endif %}
			</div>
		</div>
	</div>
</section>

<style>
	section{
		margin-bottom: 100px;
	}
</style>
{% for post in posts %}
<!-------------------------------------------------publicaciones------------------->
<div class="feeds">
<!-----------------------------------------------------publicacion 1---------->
	<div class="feed">
		<div class="head">
			<div class="user">
				<div class="profile-photo">
					<img src="{{ post.user.profile.image.url }}">

				</div>
				<div class="ingo">
					<h3><a href="{% url 'profile' post.user.username %}">{{post.user.username}}</a></h3>
					<small>{{post.time|naturaltime}}</small>
					<div class="post">{{post.content}}</div>
				</div>
			  
			</div>
			{% if request.user == post.user %}
                <span class="edit">
                    <a href="{% url 'delete' post.id %}"><i class='bx bx-x'></i></a>  
                </span>
            {% endif %}

		</div>

		<div class="photo">
			{% if post.image.url != null %}
				<img id="imagen_post" src="{{ post.image.url}}" >
			{% endif %}
		</div>
		<div class="action-buttons">
			<div class="interaction-buttons">
				<span><a href="{% url 'likes' post.id %}"><i class='bx bx-heart' style='color:#6440f2' ></i></a></span>
				<span><a href="{% url 'comentarios:post_detail' post.id %}"><i class='bx bx-message-rounded-dots'></i></a></span>

			</div>


		</div>
		<div class="liked-by">
			
		   <p>Le gusta a<b> {{ post.likes }} personas mas</b></p>
		</div>


	</div>
	<!----------------------fin de feed--------------->

	<!----------------------fin de feed--------------->


{% endfor %}



{% endblock content %}